<% provide(:title, "Condicions d'inscripció") %>
<div class="page-header">
  <h4>Your registrations terms</h4>
</div>
<div class="container-fluid">
  <p>
    Your registration terms here.
  </p>
</div>
