<div class="page-header">
  <h1><%= t('views.static_pages.404.title') %></h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><%= t('views.static_pages.404.page_not_found') %></div>
  <div class="panel-body">
    <%= t('views.static_pages.404.message') %>
  </div>
</div>
